.flah-box
  %p グループを作りました。
.wrapper
  
.chat-main
  .main-header
    .main-header__btn
      Edit
    .main-header__curre
      gggg
    .main-header__member
      Member 
  .messages
    .message
      .message-box
        .message-box__name
          メンバー
        .message-box__time
          2019.10.08
      .massage__taxt
        メッセージ
    .message
      .message-box
        .message-box__name
          メンバー
        .message-box__time
          2019.10.08
      .massage__taxt
        メッセージ  
  .form
    .input-box
      .input-box__btn
        send
      .input-box__field
        type a message
        %li.list
          %label.upload-label{for: "upload-icon"}
            %i.fa.fa-picture-o
            %input.hidden{type: 'file', id:'upload-icon'}


        

